.positive {
    padding:8px;
    color: white;
    background: green;
    width: 20px;
    display: inline-block;
    text-align: center;
}

.negative {
    padding:8px;
    color: white;
    background: red;
    width: 20px;
    display: inline-block;
    text-align: center;
}